/* a more general solution might be to use "*" here: */
html,
body,
h3,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

nav a.active {
  color: red;
}

#canvasParent,
canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 4px rgb(0, 234, 255) dotted;
}
