/* a more general solution might be to use "*" here: */
html,
body,
h3,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a.active {
  color: red;
}

div.horizontalFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

div.left {
  background: #fcc;
}

div.right {
  flex-grow: 1;
}
