/* a more general solution might be to use "*" here: */
html,
body,
h3 {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
