html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link {
  color: #333;
  text-decoration: none;
}

img.avatar {
  border: 0;
  max-width: 60px;
  max-height: 80px;
  vertical-align: middle;
}

img.avatar2 {
  border: 0;
  max-width: 120px;
  max-height: 160px;
  vertical-align: middle;
}

img.avatar3 {
  border: 0;
  max-width: 180px;
  max-height: 240px;
  vertical-align: middle;
}

span.tile {
  color: #000;
  background-color: #fc0;
  border-bottom: 1px solid #3e6d8e;
  border-right: 1px solid #7f9fb6;
  padding: 4px 8px 4px 8px;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  line-height: 1.8;
  white-space: nowrap;
}
